.miniProject {
    padding: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
}

@media screen and (max-width:576px) {
    .miniProject{
        grid-template-columns: 1fr 1fr;
    }
}