.myInfo {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.infoUp {
    padding: 32px;
    background-color: var(--darkBack);
    border-radius: 10px;
}

.infoUp .name {
    margin-bottom: 15px;
}

.infoUp .nameContent {
    font-size: 1.1rem;
}

/* GRID */

.infodown {
    display: grid;
    grid-template-columns:  1fr 1fr;
    gap: 20px;
}

.ct {
    display: flex;
    background-color: rgba(106, 106, 106, 0.208);
    border-radius: 10px;
    padding: 20px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 100%;
    transition: transform 0.5s ease;
}

.ct::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 40%;
    height: 100%;
    background: linear-gradient(
        120deg,
        transparent,
        rgba(255, 255, 255, 0.334),
        transparent
    );
    transform: skewX(-35deg);
}

.ct:hover {
    transform: translate(10px, -5px);
}

.ct:hover::before {
    transition: 1.5s;
    left: 150%;
}

.ct .left {
    font-size: 2rem;
    padding: 10px;
}

.ct .right {
    padding: 20px;
}

.ct-4,
.ct-2 {
    
}

.infoDownTitle {
    margin-bottom: 20px;
    font-weight: 700;
}

.education {
    margin-top: 20px;
}

.edu {
    margin-bottom: 20px;
}

.touch {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.touch .right {
    display: flex;
    justify-content: space-around;
}

.touch .left {
    display: flex;
    gap: 20px;
}

.touch .right .linkIcons {
    box-shadow: 0 0 1px;
    height: 70px;
    width: 70px;
    display: grid;
    place-items: center;
    font-size: 2rem;
    border-radius: 50%;
    transition: 0.5s;
}

.touch .right .linkIcons:hover {
    background-color: var(--yellow);
}

/* MOBILE */

@media screen and (max-width:576px) {

    .infoUp {
        padding: 20px;
    }

    .infoUp .nameContent {
        font-size: 0.9rem;
    }

    .ct {
        padding: 10px;
        height: auto;
    }

    .ct .left {
        font-size: 1.8rem;
        padding: 10px;
    }

    .ct .right {
        padding: 10px;
    }

    .infodown {
        grid-template-columns: 1fr;
    }

    .touch .right .linkIcons {
        height: 40px;
        width: 40px;
        font-size: 1.3rem;
    }

}

/* TABLET */

@media screen and (min-width:576px) and (max-width:768px) {

    .infodown {
        grid-template-columns: repeat(2,1fr);
    }

    .ct {
        padding: 10px;
    }

}