.contactBox {
    box-shadow: 0 0 1px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color:var(--darkBack);
}

.bxTit {
    /* border: 1px solid; */
}

.contactGrid {
    /* border: 1px solid; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.contactGrid input {
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding-left: 10px;
    background-color: var(--darkBack);
    color: var(--yellow);
    font-size: 1.3em;
}

::placeholder{
    color: var(--yellow);
}

.contactGrid #name,
#subject,
#msg {
    grid-column: 1/3;
}

.contactGrid #msg {
    background-color: var(--darkBack);
    height: 200px;
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 10px;
    color: var(--yellow);
    border: none;
    outline: none;
    font-size: 1.3em;
}

.send{
    border: none;
    box-shadow: 0 0 5px var(--darkBack);
    background-color: transparent;
    font-size: 1.2em;
    border-radius: 15px;
    width: 100px;
    color: var(--yellow);
    padding: 20px;
}

::placeholder{
    color:#ffae00;
}

@media screen and (max-width:576px) {
    .contactGrid {
        grid-template-columns: 1fr;
    }

    .contactGrid #name,
    #subject,
    #msg {
        grid-column: 1/2
    }
}



@media screen and (min-width:576px) and (max-width:768px) {
    .contactGrid {
        grid-template-columns: 1fr 1fr;
    }

    .contactGrid #name,
    #subject,
    #msg {
        grid-column: 1/3
    }
}
