.containerrr{
    /* background-image: url("https://ovro-react-template-app.vercel.app/assets/bg1-DZM6x_xd.png");
    background-position: center;
    background-color: #061d1f;
    background-size: cover;
    background-attachment: fixed; */
}